body{
    /*
    Cascade=cascada
    Style=estilo
    Sheet=hoja
     */
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(fondo1.jpg);
    background-size: cover;
    /* width: 100%; */
    background-repeat: repeat-x;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5251c7;
    color: #000;
}

nav a {
    color: #e1fff0;
    text-decoration: none;
    margin: 0 15px;
    padding: 25px 0;
}

nav a:hover {
    color: #839dc8;
}